html, body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: #2574D0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.main-logo {
  display: block;
  margin: 2em auto 0;
  height: 100px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  grid-auto-rows: 166px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  cursor: pointer;
}

.table-cell {
	border: 2px solid rgba(0, 0, 0, 0.2);
  display: table-cell;
  font-size: 130px;
  text-align: center;
}

.start-button {
  display: block;
  margin: 15px auto;
  width: 500px;
  height: 50px;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.start-button:active {
  transform: scale(0.98);
}

.start-button:focus {
  outline: none;
}

.score-info {
  display: flex;
  justify-content: center;
}

.user {
  height: 50px;
  width: 245px;
  margin: 15px 5px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
}

.turn {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px #2574D0;
}

.user .score {
  float: right;
}
